@font-face
{
    font-family: "Raleway Light";
    src: url(../fonts/raleway.light.ttf);
    font-family: "Raleway Regular";
    src: url(../fonts/raleway.regular.ttf);
    font-family: "Raleway Bold";
    src: url(../fonts/raleway.bold.ttf);
}

body
{
    margin: 0;
}


/*General design ends here.
Header design starts.*/

/*NOTE: The header has been designed with the intention of being able to reuse it, so other pages only require the disabling of links.*/


header
{
    padding: 20px 0 20px 0;
}

#headerGrid
{
    font-family: "Raleway Regular", "Arial";
    font-size: 24px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin: 0 3% 0 3%;
}

#headerHome
{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    width: 150px;
}

#headerHome > a
{
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 0 2%;
    font-size: 32px;
    /* cursor: pointer; */
    transition: 
        background-color 0.25s ease-in-out,
        font-weight 0.25s ease-in-out;
}

#pfp
{
    color: black;
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

#pfp > svg
{
    width: 32px;
    height: 32px;
    display: block;
}

#pfp:hover
{
    background-color: #D9D9D9;
}

#pfp:hover svg
{
    stroke-width: 2.2;
}

#headerList
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

/*Setting up transitions and hover effects for the menu items.*/

#headerHome > a:hover
{
    font-weight: bold;
    background-color: #D9D9D9;
}

/*To disable the default styling of the anchors.*/
#headerList > li > a 
{
    color: inherit;
    text-decoration: none;
    display: block;
}

#headerList > #currentPage
{
    padding: 0 2%;
    position: relative;
    font-style: italic;
}

#headerList > li:not(#currentPage)
{
    padding: 0 2%;
    position: relative;
    cursor: pointer;
    transition: 
        background-color 0.25s ease-in-out,
        font-weight 0.25s ease-in-out;
}

/*Changing font weight and background colour while hovering.*/
#headerList > li:not(#currentPage):hover
{
    font-weight: bold;
    background-color: #D9D9D9;
}

/*Underline effect.*/
#headerList > li:not(#currentPage)::after
{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    width: 0;
    background-color: black;
    transition:
        width 0.25s ease-in-out,
        background-color 0.25s ease-in-out;
}

/*Making sure the line goes all the way across.*/
#headerList > li:not(#currentPage):hover::after
{
    width: 100%;
}


/*Header design ends here.
Main design starts.*/


main
{
    background-image: url(../images/bg.png);
    background-size: cover;
    background-color: white;
    padding: 3%;
}

/*Setting up the grid system.*/
#mainGrid
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    gap: 20px;
    font-family: "Raleway Regular";
    font-size: 20px;
}

.gridMainOuter
{
    display: grid;
    background-color: white;
    box-sizing: border-box;
    height: 100%;
    padding: 20px;
}

.gridMainMiddle
{
    background-color: #D9D9D9;
    box-sizing: border-box;
    height: 100%;
    padding: 20px;
}

.gridMainInner
{
    background-color: white;
    box-sizing: border-box;
    height: 100%;
    padding: 20px;
}

#gridTimeDate
{
    grid-area: 1 / 1 / 2 / 2;
}

#timeDate
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Raleway Bold";
}

#date
{
    margin-top: 0;
}

#gridGreeting
{
    grid-area: 1 / 2 / 2 / 4;
}

#gridToDo
{
    grid-area: 1 / 4 / 3 / 5;
}

/*Creating functional to-do list.*/
#toDoList
{
    list-style: none;
    padding: 0;
}

#toDoList > li
{
    margin-bottom: 12px;
}

#toDoList > li > input[type="checkbox"]
{
    display: none;
}

#toDoList > li > label
{
    cursor: pointer;
    display: inline-block;
    color: #000;
    text-decoration: none;
}

#toDoList > li > input[type="checkbox"]:checked + label
{
    color: #9a9a9a;
    text-decoration: line-through;
}


#gridLatestUpdate
{
    grid-area: 2 / 1 / 3 / 3;
}

#gridLatestUpload
{
    grid-area: 2 / 3 / 3 / 4;
}

#gridManageDatabase
{
    grid-area: 3 / 1 / 5 / 3;
}

#gridTBA
{
    grid-area: 3 / 3 / 5 / 5;
}
/*Grid system set up end.*/

#adminGreeting
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Raleway Bold";
    font-size: 30px;
}

.fieldSubtitle
{
    display: flex;
    align-items: center;
    font-family: "Raleway Regular";
    font-size: 20px;
    font-style: italic;
}

#adminSubtitle
{
    justify-content: center;
}

.fieldTitle
{
    font-family: "Raleway Bold";
    margin: 0;
}

#manager
{
    list-style-type: none;
    padding: 0;
}

#manager > li
{
    padding: 5px 0px 5px 0px;
}

/*To disable the default styling of the anchor.*/
#manager > li > a, #latestUploadLink
{
    color: inherit;
    text-decoration: none;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition:
        font-weight 0.25s ease-in-out;
}

/*Changing font weight while hovering.*/
#manager > li > a:hover, #latestUploadLink:hover
{
    /*color: #6A89A7;*/
    font-weight: bold;
}

/*Underline effect.*/
#manager > li > a::after, #latestUploadLink::after
{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    width: 0;
    background-color: black;
    transition:
        width 0.25s ease-in-out;
}

/*Making sure the line goes all the way across.*/
#manager > li > a:hover::after, #latestUploadLink:hover::after
{
    width: 100%;
}

#latestUploadLink
{
    margin: 20px 20px 20px 0;
}
