@font-face
{
    font-family: "Raleway Light";
    src: url(../fonts/raleway.light.ttf);
    font-family: "Raleway Regular";
    src: url(../fonts/raleway.regular.ttf);
    font-family: "Raleway Bold";
    src: url(../fonts/raleway.bold.ttf);
}

body
{
    margin: 0;
}

/*General design ends here.
Header design starts.*/

header
{
    padding: 20px 0 20px 0;
}

#headerGrid
{
    font-family: "Raleway Regular", "Arial";
    font-size: 24px;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    margin: 0 3% 0 3%;
}

#headerHome
{
    font-size: 32px;
}

#headerList
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Setting up transitions and hover effects for the 4 menu items. */
#headerList > li
{
    padding: 0 2%;
    position: relative;
    cursor: pointer;
    transition: 
        background-color 0.25s ease-in-out,
        font-weight 0.25s ease-in-out;
}

/* Changing font weight and background colour while hovering. */
#headerList > li:not(#headerDarkMode):hover
{
    font-weight: bold;
    background-color: #D9D9D9;
}

/* Underline effect. */
#headerList > li:not(#headerDarkMode)::after
{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    width: 0;
    background-color: black;
    transition:
        width 0.25s ease-in-out,
        background-color 0.25s ease-in-out;
}

/* Making sure the line goes all the way across. */
#headerList > li:not(#headerDarkMode):hover::after
{
    width: 100%;
}

#headerDarkMode
{
    padding: 0 2%;
    cursor: pointer;
    transition:
        background-color 0.25s ease-in-out,
        color 0.25s ease-in-out;
}

#headerDarkMode:hover
{
    color: white;
    font-weight: bold;
    background-color: #3D3D3D;
}

/*Header design ends here.
Main design starts.*/

main
{
    background-image: url(../images/bg.png);
    background-size: cover;
    background-color: white;
    padding: 3%;
}

#mainGrid
{
    display: grid;
    grid-template-columns: repeat(5, 20%);
    font-family: "Raleway Regular", "Arial";
    font-size: 20px;
}

#mainLeft
{
    grid-column: span 2;
    padding: 5%;
    background-color: white;
}

#mainLeftTitle
{
    font-family: "Raleway Bold";
    font-size: 30px;
    margin-top: 0;
}

#mainLeftLowerParagraph
{
    font-style: italic;
    margin-bottom: 0;
}

#mainRight
{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 4;
}

#portrait
{
    width: 100%
}