@font-face
{
    font-family: "Raleway Light";
    src: url(../fonts/raleway.light.ttf);
    font-family: "Raleway Regular";
    src: url(../fonts/raleway.regular.ttf);
    font-family: "Raleway Bold";
    src: url(../fonts/raleway.bold.ttf);
}

html, body
{
    margin: 0;
    height: 100%;
}

body
{
    display: flex;
    flex-direction: column;
}


/*General design ends here.
Header design starts.*/

/*NOTE: The header has been designed with the intention of being able to reuse it, so other pages only require the disabling of links.*/


header
{
    box-sizing: border-box;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#headerGrid
{
    font-family: "Raleway Regular", "Arial";
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 0 3% 0 3%;
}


/*Header design ends here.
Main design starts.*/


main
{
    background-image: url(../images/bg.png);
    background-size: cover;
    background-color: white;
    padding: 3%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainField
{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}

#mainContainer
{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #D9D9D9;
    border-radius: 5px;
}

form
{
    display: grid;
    row-gap: 1rem;
    width: 250px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.formCategory
{
    display: grid;
    grid-template-rows: auto auto;
}

input
{
    width: 70%;
    padding: 3px;
    border: 1px solid #D9D9D9;
    border-radius: 0;
    box-sizing: border-box;
    transition: width 0.5s ease-in-out;
}

input:focus
{
    width: 100%;
    border-radius: 0;
    border: 1px solid black;
}

input[type=button], [type=submit]
{
    margin: 0;
    padding: 2px 6px;
    width: 70px;
    background-color: #D9D9D9;
    border: 1px solid black;
    cursor: pointer;
}

#loginButton
{
    width: fit-content;
    text-decoration: none;
    border: none;
    background-color: #F5F5F5;
    color: #000000;
    padding: 2px 6px;
    transition: 0.3s;
}

#loginButton:hover
{
    background-color: #D9D9D9;
}

#loginButton:active
{
    opacity: 0.7;
}

#errorOutput
{
    align-items: center;
}

/*Setting up transitions and hover effects for the cards.*/

form
{
    /*Horizontal offset, vertical offset, blur radius, colour and transparency.*/
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition:
        box-shadow 0.25s ease-in-out,
        transform 0.25s ease-in-out;
}

form:hover
{
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25); 
    transform: translateY(-2px);
}