@font-face
{
    font-family: "Raleway Light";
    src: url(../fonts/raleway.light.ttf);
    font-family: "Raleway Regular";
    src: url(../fonts/raleway.regular.ttf);
    font-family: "Raleway Bold";
    src: url(../fonts/raleway.bold.ttf);
}

body
{
    margin: 0;
}


/*General design ends here.
Header design starts.*/

/*NOTE: The header has been designed with the intention of being able to reuse it, so other pages only require the disabling of links.*/


header
{
    padding: 20px 0 20px 0;
}

#headerGrid
{
    font-family: "Raleway Regular", "Arial";
    font-size: 24px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin: 0 3% 0 3%;
}

#headerHome
{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    width: 150px;
}

#headerHome > a
{
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 0 2%;
    font-size: 32px;
    /* cursor: pointer; */
    transition: 
        background-color 0.25s ease-in-out,
        font-weight 0.25s ease-in-out;
}

#pfp
{
    color: black;
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

#pfp > svg
{
    width: 32px;
    height: 32px;
    display: block;
}

#pfp:hover
{
    background-color: #D9D9D9;
}

#pfp:hover svg
{
    stroke-width: 2.2;
}

#headerList
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

/*Setting up transitions and hover effects for the menu items.*/

#headerHome > a:hover
{
    font-weight: bold;
    background-color: #D9D9D9;
}

/*To disable the default styling of the anchors.*/
#headerList > li > a 
{
    color: inherit;
    text-decoration: none;
    display: block;
}

#headerList > #currentPage
{
    padding: 0 2%;
    position: relative;
    font-style: italic;
}

#headerList > li:not(#currentPage)
{
    padding: 0 2%;
    position: relative;
    cursor: pointer;
    transition: 
        background-color 0.25s ease-in-out,
        font-weight 0.25s ease-in-out;
}

/*Changing font weight and background colour while hovering.*/
#headerList > li:not(#currentPage):hover
{
    font-weight: bold;
    background-color: #D9D9D9;
}

/*Underline effect.*/
#headerList > li:not(#currentPage)::after
{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    width: 0;
    background-color: black;
    transition:
        width 0.25s ease-in-out,
        background-color 0.25s ease-in-out;
}

/*Making sure the line goes all the way across.*/
#headerList > li:not(#currentPage):hover::after
{
    width: 100%;
}


/*Header design ends here.
Main design starts.*/


main
{
    background-image: url(../images/bg.png);
    background-size: cover;
    background-color: white;
    padding: 3%;
}

#mainGrid
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    font-family: "Raleway Regular", "Arial";
    font-size: 20px;
    background-color: white;
    padding: 20px;
    align-items: stretch;
}

.mainField
{
    background-color: #D9D9D9;
    padding: 20px;
    display: flex;
}

#descBox
{
    background-color: #BBBBBB;
    padding: 20px;
    display: flex;
}

.mainText
{
    background-color: white;
    padding: 20px;
    flex: 1;
}

/*Setting up transitions and hover effects for the cards.*/

.mainText
{
    /*Horizontal offset, vertical offset, blur radius, colour and transparency.*/
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition:
        box-shadow 0.25s ease-in-out,
        transform 0.25s ease-in-out;
}

.mainText:hover
{
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25); 
    transform: translateY(-2px);
}

.textTitle
{
    margin-top: 0;
}

#typesList
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#typesList > li
{
    margin-bottom: 10px;
}

/*To remove the default styling of the list.*/
.textLinks
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.textLinks > li
{
    margin-bottom: 10px;
}

/*To disable the default styling of the anchors.*/
.textLinks > li > a
{
    color: inherit;
    text-decoration: none;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition:
        font-weight 0.25s ease-in-out;
}

/*Changing font weight while hovering.*/
.textLinks > li > a:hover
{
    /*color: #6A89A7;*/
    font-weight: bold;
}

/*Underline effect.*/
.textLinks > li > a::after
{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    width: 0;
    background-color: black;
    transition:
        width 0.25s ease-in-out;
}

/*Making sure the line goes all the way across.*/
.textLinks > li > a:hover::after
{
    width: 100%;
}