@font-face
{
    font-family: "Raleway Light";
    src: url(../fonts/raleway.light.ttf);
    font-family: "Raleway Regular";
    src: url(../fonts/raleway.regular.ttf);
    font-family: "Raleway Bold";
    src: url(../fonts/raleway.bold.ttf);
}

html, body
{
    margin: 0;
    height: 100%;
}

body
{
    display: flex;
    flex-direction: column;
}


/*General design ends here.
Header design starts.*/

/*NOTE: The header has been designed with the intention of being able to reuse it, so other pages only require the disabling of links.*/


header
{
    padding: 20px 0 20px 0;
}

#headerGrid
{
    font-family: "Raleway Regular", "Arial";
    font-size: 24px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    margin: 0 3% 0 3%;
}

#headerHome > a
{
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 0 2%;
    font-size: 32px;
    /* cursor: pointer; */
    transition: 
        background-color 0.25s ease-in-out,
        font-weight 0.25s ease-in-out;
}

#headerList
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

/*Setting up transitions and hover effects for the menu items.*/

#headerHome > a:hover
{
    font-weight: bold;
    background-color: #D9D9D9;
}

/*To disable the default styling of the anchors.*/
#headerList > li > a 
{
    color: inherit;
    text-decoration: none;
    display: block;
}

#headerList > #currentPage
{
    padding: 0 2%;
    position: relative;
    font-style: italic;
}

#headerList > li:not(#currentPage)
{
    padding: 0 2%;
    position: relative;
    cursor: pointer;
    transition: 
        background-color 0.25s ease-in-out,
        font-weight 0.25s ease-in-out;
}

/*Changing font weight and background colour while hovering.*/
#headerList > li:not(#currentPage):hover
{
    font-weight: bold;
    background-color: #D9D9D9;
}

/*Underline effect.*/
#headerList > li:not(#currentPage)::after
{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    width: 0;
    background-color: black;
    transition:
        width 0.25s ease-in-out,
        background-color 0.25s ease-in-out;
}

/*Making sure the line goes all the way across.*/
#headerList > li:not(#currentPage):hover::after
{
    width: 100%;
}


/*Header design ends here.
Main design starts.*/


main
{
    background-image: url(../images/bg.png);
    background-size: cover;
    background-color: white;
    padding: 3%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

h1
{
    font-family: "Raleway Bold";
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

table
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Raleway Regular";
}

tbody, th, td
{   
    border: 1px solid black;
    border-collapse: collapse;
}

th, td
{
    padding: 10px 20px 10px 20px;
}

th
{
    font-size: 26px;
    background-color: #D9D9D9;
}

td
{
    font-size: 20px;
}

tr:nth-child(even)
{
    background-color: #EBEBEB;
}

tr:nth-child(odd)
{
    background-color: white;
}

tr:hover
{
    background-color: rgb(200, 255, 200);
}

#bottomGrid
{
    font-family: "Raleway Regular";
    font-size: 20px;
    width: 80vw;
    min-height: 30vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}

#backToOverview
{
    font-family: "Raleway Regular";
    font-size: 20px;
}

/*To disable the default styling of the anchor.*/
#backToManager > a
{
    color: inherit;
    text-decoration: none;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition:
        font-weight 0.25s ease-in-out;
}

/*Changing font weight while hovering.*/
#backToManager > a:hover
{
    /*color: #6A89A7;*/
    font-weight: bold;
}

/*Underline effect.*/
#backToManager > a::after
{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    width: 0;
    background-color: black;
    transition:
        width 0.25s ease-in-out;
}

/*Making sure the line goes all the way across.*/
#backToManager > a:hover::after
{
    width: 100%;
}