@font-face
{
    font-family: "Raleway Light";
    src: url(../fonts/raleway.light.ttf);
    font-family: "Raleway Regular";
    src: url(../fonts/raleway.regular.ttf);
    font-family: "Raleway Bold";
    src: url(../fonts/raleway.bold.ttf);
}

html, body
{
    margin: 0;
    height: 100%;
}

body
{
    display: flex;
    flex-direction: column;
}


/*General design ends here.
Header design starts.*/

/*NOTE: The header has been designed with the intention of being able to reuse it, so other pages only require the disabling of links.*/


header
{
    padding: 20px 0 20px 0;
}

#headerGrid
{
    font-family: "Raleway Regular", "Arial";
    font-size: 24px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin: 0 3% 0 3%;
}

#headerHome
{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    width: 150px;
}

#headerHome > a
{
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 0 2%;
    font-size: 32px;
    /* cursor: pointer; */
    transition: 
        background-color 0.25s ease-in-out,
        font-weight 0.25s ease-in-out;
}

#pfp
{
    color: black;
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

#pfp > svg
{
    width: 32px;
    height: 32px;
    display: block;
}

#headerList
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

/*Setting up transitions and hover effects for the menu items.*/

#headerHome > a:not(#pfp):hover
{
    font-weight: bold;
    background-color: #D9D9D9;
}

/*To disable the default styling of the anchors.*/
#headerList > li > a 
{
    color: inherit;
    text-decoration: none;
    display: block;
}

#headerList > #currentPage
{
    padding: 0 2%;
    position: relative;
    font-style: italic;
}

#headerList > li:not(#currentPage)
{
    padding: 0 2%;
    position: relative;
    cursor: pointer;
    transition: 
        background-color 0.25s ease-in-out,
        font-weight 0.25s ease-in-out;
}

/*Changing font weight and background colour while hovering.*/
#headerList > li:not(#currentPage):hover
{
    font-weight: bold;
    background-color: #D9D9D9;
}

/*Underline effect.*/
#headerList > li:not(#currentPage)::after
{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    width: 0;
    background-color: black;
    transition:
        width 0.25s ease-in-out,
        background-color 0.25s ease-in-out;
}

/*Making sure the line goes all the way across.*/
#headerList > li:not(#currentPage):hover::after
{
    width: 100%;
}


/*Header design ends here.
Main design starts.*/


main
{
    background-image: url(../images/bg.png);
    background-size: cover;
    background-color: white;
    padding: 3%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainField
{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}

#mainContainer
{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #D9D9D9;
    border-radius: 5px;
}

#mainFlex
{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    font-family: "Raleway Regular";
    font-size: 20px;
}

#title
{
    text-align: center;
    margin: 0 0 10px 0;
    padding: 0;
    font-style: italic;
    font-family: "Raleway Bold";
}

#userData
{
    margin: 0;
    padding: 20px 0 0 0;
    border-top: 1px solid #D9D9D9;
    list-style-type: none;
}

#userData > li:not(#topListItem)
{
    padding-top: 10px;
}

/*To disable the default styling of the anchors.*/
#userData > li a
{
    color: inherit;
    text-decoration: none;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition:
        font-weight 0.25s ease-in-out;
}

/*Changing font weight while hovering.*/
#userData > li a:hover
{
    /*color: #6A89A7;*/
    font-weight: bold;
}

/*Underline effect.*/
#userData > li a::after
{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    width: 0;
    background-color: black;
    transition:
        width 0.25s ease-in-out;
}

/*Making sure the line goes all the way across.*/
#userData > li a:hover::after
{
    width: 100%;
}