@font-face
{
    font-family: "Raleway Light";
    src: url(../fonts/raleway.light.ttf);
    font-family: "Raleway Regular";
    src: url(../fonts/raleway.regular.ttf);
    font-family: "Raleway Bold";
    src: url(../fonts/raleway.bold.ttf);
}

body
{
    margin: 0;
}


/*General design ends here.
Header design starts.*/

/*NOTE: The header has been designed with the intention of being able to reuse it, so other pages only require the disabling of links.*/


header
{
    padding: 20px 0 20px 0;
}

#headerGrid
{
    font-family: "Raleway Regular", "Arial";
    font-size: 24px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin: 0 3% 0 3%;
}

#headerHome
{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    width: 150px;
}

#headerHome > a
{
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 0 2%;
    font-size: 32px;
    /* cursor: pointer; */
    transition: 
        background-color 0.25s ease-in-out,
        font-weight 0.25s ease-in-out;
}

#pfp
{
    color: black;
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

#pfp > svg
{
    width: 32px;
    height: 32px;
    display: block;
}

#pfp:hover
{
    background-color: #D9D9D9;
}

#pfp:hover svg
{
    stroke-width: 2.2;
}

#headerList
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

/*Setting up transitions and hover effects for the menu items.*/

#headerHome > a:hover
{
    font-weight: bold;
    background-color: #D9D9D9;
}

/*To disable the default styling of the anchors.*/
#headerList > li > a 
{
    color: inherit;
    text-decoration: none;
    display: block;
}

#headerList > #currentPage
{
    padding: 0 2%;
    position: relative;
    font-style: italic;
}

#headerList > li:not(#currentPage)
{
    padding: 0 2%;
    position: relative;
    cursor: pointer;
    transition: 
        background-color 0.25s ease-in-out,
        font-weight 0.25s ease-in-out;
}

/*Changing font weight and background colour while hovering.*/
#headerList > li:not(#currentPage):hover
{
    font-weight: bold;
    background-color: #D9D9D9;
}

/*Underline effect.*/
#headerList > li:not(#currentPage)::after
{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    width: 0;
    background-color: black;
    transition:
        width 0.25s ease-in-out,
        background-color 0.25s ease-in-out;
}

/*Making sure the line goes all the way across.*/
#headerList > li:not(#currentPage):hover::after
{
    width: 100%;
}


/*Header design ends here.
Main design starts.*/


main
{
    background-image: url(../images/bg.png);
    background-size: cover;
    background-color: white;
    padding: 3%;
}

#mainFlex
{
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 20px;
}

#mainLayout
{
    background-color: white;
    padding: 20px;
}

.mainField
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    padding: 20px;
}

.period
{
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    font-family: "Raleway Regular";
    font-size: 20px;
    background-color: white;
    padding: 20px;
}

.periodDetails
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

.descriptionText
{
    padding: 0 20px;
    font-size: 30px;
    border-right: 1px solid #D9D9D9;
}

.descriptionTitle
{
    font-family: "Raleway Bold";
    margin-bottom: 0;
}

.description
{
    font-size: 20px;
}


.descriptionLinks
{
    padding: 0 20px;
}

/*To remove the default styling of the list.*/
.descriptionLinks > ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.descriptionLinks > ul > li
{
    margin-bottom: 10px;
}

/*To disable the default styling of the anchors.*/
.descriptionLinks > ul > li > a
{
    color: inherit;
    text-decoration: none;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition:
        font-weight 0.25s ease-in-out;
}

/*Changing font weight while hovering.*/
.descriptionLinks > ul > li > a:hover
{
    /*color: #6A89A7;*/
    font-weight: bold;
}

/*Underline effect.*/
.descriptionLinks > ul > li > a::after
{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    width: 0;
    background-color: black;
    transition:
        width 0.25s ease-in-out;
}

/*Making sure the line goes all the way across.*/
.descriptionLinks > ul > li > a:hover::after
{
    width: 100%;
}

.projectYear
{
    font-size: 20px;
    margin: 0;
}

/*General design stops.
Rotating display setup starts here.*/


.periodRotatorContainer
{
    width: 100%;
    overflow: hidden;
    background-color: white;
    padding: 0;
    margin: 0;
}

.periodRotatorTrack
{
    display: flex;
    width: max-content;
    animation: scroll 60s linear infinite;
    will-change: transform;
    padding: 20px 0;
    border-top: 1px solid #D9D9D9;
    border-bottom: 2px solid #D9D9D9;
}

@keyframes scroll
{
    from
    {
        transform: translateX(0);
    }
    to
    {
        transform: translateX(-50%);
    }
}

.periodRotatorCard
{
    flex: 0 0 auto;
    height: 260px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow: hidden; /* VERY important */
}

.periodRotatorCard > img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.periodRotatorContainer:hover .periodRotatorTrack
{
    animation-play-state: paused;
}

/*Rotating display design stops.*/