@font-face
{
    font-family: "Raleway Light";
    src: url(../fonts/raleway.light.ttf);
    font-family: "Raleway Regular";
    src: url(../fonts/raleway.regular.ttf);
    font-family: "Raleway Bold";
    src: url(../fonts/raleway.bold.ttf);
}

body
{
    margin: 0;
}


/*General design ends here.
Header design starts.*/

/*NOTE: The header has been designed with the intention of being able to reuse it, so other pages only require the disabling of links.*/


header
{
    padding: 20px 0 20px 0;
}

#headerGrid
{
    font-family: "Raleway Regular", "Arial";
    font-size: 24px;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    margin: 0 3% 0 3%;
}

#headerHome > a
{
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 0 2%;
    font-size: 32px;
    cursor: pointer;
    transition: 
        background-color 0.25s ease-in-out,
        font-weight 0.25s ease-in-out;
}

#headerList
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

/*Setting up transitions and hover effects for the menu items.*/

#headerHome > a:hover
{
    font-weight: bold;
    background-color: #D9D9D9;
}

/*To disable the default styling of the anchors.*/
#headerList > li > a 
{
    color: inherit;
    text-decoration: none;
    display: block;
}

#headerList > #currentPage
{
    padding: 0 2%;
    position: relative;
    font-style: italic;
}

#headerList > li:not(#currentPage)
{
    padding: 0 2%;
    position: relative;
    cursor: pointer;
    transition: 
        background-color 0.25s ease-in-out,
        font-weight 0.25s ease-in-out;
}

/*Changing font weight and background colour while hovering.*/
#headerList > li:not(#currentPage):hover
{
    font-weight: bold;
    background-color: #D9D9D9;
}

/*Underline effect.*/
#headerList > li:not(#currentPage)::after
{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    width: 0;
    background-color: black;
    transition:
        width 0.25s ease-in-out,
        background-color 0.25s ease-in-out;
}

/*Making sure the line goes all the way across.*/
#headerList > li:not(#currentPage):hover::after
{
    width: 100%;
}


/*Header design ends here.
Main design starts.*/


main
{
    background-image: url(../images/bg.png);
    background-size: cover;
    background-color: white;
    padding: 3%;
}